html,body{
    height:100%
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face{
    font-family: 'COHeiGB-UltraBold';
    src: url("../font/RuiZiZhenYanTiMianFeiShangYong-2.ttf");
}
.wrap{
    margin: 0 auto;
    height: 100%;
    position: relative;
    font-family:COHeiGB-UltraBold,COHeiGB;
    background: url("../img/bg@3x.png") no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.top{
    height: 17%;
    width: 100%;
}
.top .top-t{
    height: 100%;
    font-size: calc(75px*0.8);
    width: 60%;
    line-height: 180px;
    text-align: center;
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight:800;
    color:rgba(255,255,255,1);
    letter-spacing:9px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .top-t img{
    width: 100%;
    height: auto;
    display: block;
}
.erwerma{
    width: 125px;
    height: 112px;
    background:rgba(255,255,255,1);
    border-radius:0px 18px 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 14px;
}
.time{
    position: absolute;
    top: 6%;
    right: 0;
    width: 18%;
    height: 55px;
    text-align: center;
    background: url("../img/time.png") no-repeat 300px 68px;
    margin-top: -10px;
}
.showBig{
    width: 105px;
    height: 105px;
    cursor: pointer;
    position: absolute;
}
.time .timing{
    font-size: 21px;
    width: 280px;
    height: 55px;
    line-height: 55px;
    background:rgba(5,4,38,1);
    box-shadow:-4px 4px 0px 0px rgba(227,0,229,1);
    border-radius:42px;
    border:3px solid rgba(255,255,255,1);
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight:800;
    color:rgba(255,255,255,1);
    letter-spacing:3px;
    text-shadow:-1px 2px 0px rgba(197,45,33,1), 1px 1px 0px rgba(31,40,255,1);
}
.erweima_big{
    position: fixed;
    cursor: pointer;
    width: 414px;
    height: 396px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 20px solid #FFFFFF;
}
.erweima_big img{
    width: 382px;
    height: 365px;
}
.mid{
    width: 100%;
    height: 80%;
    flex-direction: row;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    /*margin-top: 20px;*/
    padding-bottom: 20px;
    position: relative;
}
.mid_left{
    flex: 2;
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    padding-bottom: 20px;
}
.mid .surplus{
    height: 106%;
    flex: 1;
    position: absolute;
    left: 17px;
    top: 0;
    width: 100%;
    padding: 30px 60px;
    padding-top: 0px;
    padding-bottom: 0;
    margin-top: 70px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.mid .surplus_show{
    width: 170px;
    height: 38px;
    font-family:COHeiGB-UltraBold,COHeiGB;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 17px;
}
.mid .surplus .surplus_show img{
    width: 170px;
    height: auto;
    display: block;
}
.mid .surplus .surplus_ul{
    width: 110%;
    /* padding-top: 10px; */
    padding-bottom: 20px;
}
.mid .surplus .surplus_ul ul{
    overflow: hidden;
}
.mid .surplus .surplus_ul li{
    font-size: 20px;
    display: block;
    width: 99%;
    padding: 3px 8px;
    float: right;
    margin-top: 2%;
    margin-bottom: 3%;
    background:rgba(197,45,33,1);
    box-shadow:-2px 2px 0px 0px rgba(255,255,255,1);
    border-radius:6px;
    border:2px solid rgba(251,0,150,1);
}
.mid .surplus .surplus_ul li:last-child{
    font-size: 20px;
    display: block;
    width: 98%;
    padding: 2px 8px;
    float: right;
    margin-top: 2%;
    margin-bottom: 35%;
    background:rgba(197,45,33,1);
    box-shadow:-2px 2px 0px 0px rgba(255,255,255,1);
    border-radius:6px;
    border:2px solid rgba(251,0,150,1);
}
.mid .surplus .surplus_li{
    height: auto;
    line-height: 125%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mid .surplus .surplus_li .surplus_name{
    width: 90px;
    height: 100%;
}
.mid .surplus .surplus_li .surplus_remain{
    display: flex;
    flex-direction: row;
}
.surplus_zhang{
    margin-left: 3px;
}
.mid .theChars{
    flex: 4;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    background:rgba(255,255,255,1);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.mid .theChars_text{
    width: 60px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -20%;
    z-index: 1;
}
.mid .theChars_text img{
    width: 100%;
    height: 100%;
}
.theCharsTeam_list{
    width: 100%;
    height: 110%;
    overflow: hidden;
    margin-left: 28px;
}
.theChars_show ul{
    width: 100%;
    height: 100%;
}
.mid-mid{
    flex: 4;
    position: absolute;
    width: 60%;
    height: 598px;
    height: 100%;
    margin-left: 20%;
    margin-right: -31px;
}
.mid-mid-mid{
    width: 100%;
    height: 100%;
    padding-left: 30px;
}
.mid .theChars .theChars_show{
    width: 100%;
    height: 100%;
    padding-top: 9px;
    padding-bottom: 20px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 17px;
}
.mid .theChars .theChars_show .list{
    width: 100%;
    height: auto;
    line-height: 75px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 7px;
}
.mid .theChars .theChars_show .list ul{
    width: 100%;
    height: 600px;
}
.mid .theChars .theChars_show .list_wrap{
    display: flex;
    flex-direction: row;
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight: 400;
    color: rgb(16, 16, 16);
    font-style: normal;
    position: relative;
}
.mid .theChars .theChars_show .list_wrap .theChars_index{
    margin-left: 35px;
    width: 100px;
    height: 52px;
    font-size: 50px;
    font-family: COHeiGB-UltraBold,COHeiGB;
    font-weight: 800;
    color: rgba(227,0,229,1);
    line-height: 65px;
    letter-spacing: 6px;
    text-align: right;
}
.mid .theChars .theChars_show .list:nth-child(-n+3) .theChars_index{
    width: 100px;
    font-size:60px;
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight:800;
    color:#FF5757;
    line-height:55px;
    letter-spacing:8px;
    text-align: right;
}
.mid .theChars .theChars_show .list:nth-child(1) .theChars_index{
    width: 100px;
    height: 52px;
    font-size:60px;
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight:800;
    color:rgba(255,185,53,1);
    line-height:55px;
    letter-spacing:8px;
    text-align: right;
}
.mid .theChars .theChars_show .list_wrap .theChars_picture{
    left: 30px;
    width: 30px;
    height: 52px;
    line-height: 70px;
    margin-top: 0;
    margin-right: 70px;
    margin-left: -12px;
    border-radius: 50%;
    z-index: 0;
}
.mid .theChars .theChars_show .list:nth-child(-n+9) .theChars_picture{
    left: 30px;
    width: 30px;
    height: 52px;
    line-height: 70px;
    margin-top: 0;
    margin-right: 6%;
    margin-left: -16px;
    border-radius: 50%;
    z-index: 0;
}
.mid .theChars .theChars_show .list:nth-child(-n+3) .theChars_picture{
    left: 30px;
    width: 30px;
    height: 52px;
    line-height: 70px;
    margin-top: 0;
    margin-right: 6%;
    margin-left: -16px;
    border-radius: 50%;
    z-index: 0;
}
.mid .theChars .theChars_show .list_wrap .theChars_picture img{
    width: 100%;
    height: 30px;
    background-color: #6d6d72;
    border-radius: 50%;
    margin-bottom: -15px;
    box-shadow:0px 0px 0px 2px rgba(255,255,255,1);
    border:2px solid rgba(224,0,148,1);
}
.mid .theChars .theChars_show .list:nth-child(-n+3) .theChars_picture img{
    width: 100%;
    height: 30px;
    background-color: #6d6d72;
    border-radius: 50%;
    margin-bottom: 0px;
    box-shadow:0px 0px 0px 2px rgba(255,255,255,1);
    border:2px solid rgba(224,0,148,1);
}
.mid .theChars .theChars_show .list_wrap .theChars_name{
    width: 100px;
    font-size: 28px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight:800;
    color:rgba(197,45,33,1);
    letter-spacing:3px;
    position: absolute;
    left: 210px;
}
.mid .theChars .theChars_show .list_wrap .theChars_department {
    font-size: 28px;
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    position: absolute;
    left: 40%;
}
.mid .theChars .theChars_show .list_wrap .theChars_department .department_de{
    line-height: 75px;
}
.mid .theChars .theChars_show .list_wrap .theChars_department .department_de1{
    line-height: 40px;
}
.mid .theChars .theChars_show .list_wrap .theChars_department .department_de2{
    line-height: 25px;
}
.mid .theChars .theChars_show .list_wrap .theChars_source{
    width: 200px;
    text-align: left;
    font-size: 28px;
    position: absolute;
    right: 80px;
}
.mid .theChars .theChars_show .list_wrap .icon{
    position: absolute;
    right: 40px;
    cursor: pointer;
}
/*???ï¿½ï¿½??aï¿½ï¿½ï¿½???????????????a??aï¿½?????*/
.mid .theChars .theChars_show .list .score_detail{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.mid .theChars .theChars_show .list .score_list{
    width: 90px;
    height: 25px;
    background-color: #cccccc;
    border-radius: 12px;
    font-size: 16px;
    float: left;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 25px;
    padding: 2px 3px;
}
.mid .theChars .theChars_show .list .score_list .select_name{
    height: 100%;
    line-height: 25px;
}
.mid .theChars .theChars_show .list .score_list .select_score{
    height: 100%;
    line-height: 25px;
}
.mid .theCharsTeam{
    flex: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 655px;
    height: 106%;
    overflow: hidden;
    padding: 30px 0;
    /* padding-left: 18px; */
    font-family:COHeiGB-UltraBold,COHeiGB;
    font-weight: 400;
    color: #FFFFFF;
    font-style: normal;
    margin-top: -45px;
}
.theCharsTeam .theCharsTeam_show{
    width: 100%;
    height: 45px;
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.theCharsTeam .theCharsTeam_list{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.theCharsTeam ul{
    width: 300px;
    overflow-y: auto;
    padding-right: 14px;
    padding-bottom: 100px;
}
.list-outWrap{
    width: 300px;
    position: relative;
}
.theCharsTeam .theCharsTeam_list li{
    background-color: #FFAE00;
    padding: 5px 2px;
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative;
    width: 90%;
}
.theCharsTeam .theCharsTeam_list .list_wrap{
    width: 95%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.list:nth-child(-n+3) .theCharsTeam_index{
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color:rgba(243,29,29,1);
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -20px;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
}
.list:nth-child(1) .theCharsTeam_index{
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color: #FFB935;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    right: -20px;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
}
.list .theCharsTeam_index{
    z-index: 0;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    color:rgba(227,0,229,1);
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -20px;
    text-align: center;
    line-height: 40px;
    font-size: 32px;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_index{
    width: 10px;
    line-height: 50px;
    font-size: 28px;
    margin-left: 5px;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_department {
    width: 125px;
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*padding-top: 3%;*/
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_department .department_de{
    line-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_department .department_de1{
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_department .department_de2{
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.heng{
    height: 100%;
    line-height: 70px;
    font-size: 16px;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_source{
    width: 100px;
    height: 50%;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.theCharsTeam .theCharsTeam_list .list_wrap .theCharsTeam_pj{
    width: 100px;
    height: 50%;
    line-height: 27px;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*??aï¿½ï¿½ï¿½???????ï¿½ï¿½???2???2???ï¿½ï¿½*/
.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    display: none;
    z-index: 2;
}
.voteDetails{
    width: calc(1440px*0.8);
    height: auto;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background:rgba(255,255,255,1);
    box-shadow:-7px 5px 0px 0px rgba(229,11,231,1);
    border-radius:38px;
    border:4px solid rgba(15,25,255,1);
    padding: calc(56px*0.8) calc(39px*0.8);
    display: none;
}
.voteDetails ul{
    overflow: hidden;
}
.voteDetails .voteDetails-li{
    width: calc(179px*0.8);
    height: calc(57px*0.8);
    background: rgba(197,45,33,1);
    border-radius: 5px;
    text-align: center;
    line-height: calc(57px*0.8);
    font-size: calc(32px*0.8);
    margin-right: calc(14px*0.8);
    margin-bottom: calc(22px*0.8);
    float: left;
}
.bigerweima{
    width: calc(665px*0.8);
    height: calc(671px*0.8);
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    background:rgba(255,255,255,1);
    box-shadow:-8px 6px 0px 0px rgba(229,11,231,1);
    border-radius:45px;
    border:5px solid rgba(15,25,255,1);
    padding: 38px 35px;
    display: none;
}
.bigerweima img{
    width: calc(569px*0.8);
    height: auto;
}
